# 全局 npm 镜像
registry=https://registry.npmmirror.com/
disturl=https://registry.npmmirror.com/-/binary/node/

# Electron 镜像
electron_mirror=https://registry.npmmirror.com/-/binary/electron/

# electron-builder 镜像
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/

# pnpm 配置
node-linker=hoisted
public-hoist-pattern[]=*eslint*  # 按需调整或移除
strict-peer-dependencies=true    # 恢复严格检查
git-protocol=https
